/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-indigo-300;
}

*::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}


*::-webkit-scrollbar-thumb {
  @apply bg-transparent;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid transparent;
  @apply border-indigo-200;
  @apply transition-all;
  /* creates padding around scroll thumb */
}


*::-webkit-scrollbar-track {
  @apply bg-indigo-200;
  /* color of the tracking area */
}